<html lang="en" ng-app="app">
<head>
    <title>Jim world</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body class="">
<header id="header" class="reveal alt"><h1><a href="javascript">Home</a>
    </h1><a href="javascript:;" class="meun">Menu</a></header>
<section id="banner">
    <div class="inner">
        <a href="/test2">测试地址</a>
        <div class="content"><h2>Welcome to Jim Wrold</h2>
            <p>欢迎加入，注册以后就可以发表文章啦</p></div>
        <ul class="actions vertical">
            <li><a class="button special major" style="cursor: pointer;">Get Started</a></li>
            <li><a class="button major" style="cursor: pointer;">More Info</a></li>
        </ul>
    </div>
</section>
<section id="one" class="wrapper style1 split">
    <div class="inner">
        <div class="content">
            <p>Amet lorem vivamus viverra, quis semper consequat, sem nibh mattis arcu, dolore porttitor lorem justo in
                tellus. Aenean lacinia felis et dui viverra, nec accumsan et quam ultricies. Phasellus sapien lorem,
                rhoncus ultricies.</p>
            <ul class="actions">
                <li><a href="" class="button" style="cursor: pointer;">more</a></li>
            </ul>
        </div>
        <div class="image-circles">
            <div class="images"><span class="image"><img src="/images/pic01.jpg" alt=""></span><span class="image"><img
                            src="/images/pic02.jpg" alt=""></span></div>
            <div class="images"><span class="image"><img src="/images/pic03.jpg" alt=""></span><span class="image"><img
                            src="/images/pic04.jpg" alt=""></span></div>
        </div>
    </div>
</section>
<section id="two" class="wrapper style2">
    <div class="inner">
        <header class="major"><h2>Gravida nunc accumsan</h2>

            <p>Ipsum quis semper consequat, sem nibh mattis arcu, quis porttitor lorem justo in tellus. Aenean
                lacinia<br> interdum nisl felis et dui viverra, nec accumsan tempus quam ultricies.</p></header>
        <div class="features">
            <section><span class="icon major fa-tag"></span>

                <h3>Quam adipiscing</h3>

                <p>Feugiat lorem quis semper consequat, sem nibh mattis arcu, amet porttitor lorem justo in cumsan quam
                    ultricies magna tempus.</p></section>
            <section><span class="icon major fa-camera-retro"></span>

                <h3>Semper accumsan</h3>

                <p>Feugiat lorem quis semper consequat, sem nibh mattis arcu, amet porttitor lorem justo in cumsan quam
                    ultricies magna tempus.</p></section>
            <section><span class="icon major fa-cloud"></span>

                <h3>Ipsum lorem magna</h3>

                <p>Feugiat lorem quis semper consequat, sem nibh mattis arcu, amet porttitor lorem justo in cumsan quam
                    ultricies magna tempus.</p></section>
            <section><span class="icon major fa-cube"></span>

                <h3>Tempus sed mattis</h3>

                <p>Feugiat lorem quis semper consequat, sem nibh mattis arcu, amet porttitor lorem justo in cumsan quam
                    ultricies magna tempus.</p></section>
            <section><span class="icon major fa-file-text"></span>

                <h3>Odio fermentum</h3>

                <p>Feugiat lorem quis semper consequat, sem nibh mattis arcu, amet porttitor lorem justo in cumsan quam
                    ultricies magna tempus.</p></section>
            <section><span class="icon major fa-plane"></span>

                <h3>Risus et interdum</h3>

                <p>Feugiat lorem quis semper consequat, sem nibh mattis arcu, amet porttitor lorem justo in cumsan quam
                    ultricies magna tempus.</p></section>
        </div>
        <footer class="major">
            <ul class="actions">
                <li><a class="button major" style="cursor: pointer;">More Features</a></li>
            </ul>
        </footer>
    </div>
</section>
<section id="three" class="wrapper style1">
    <div class="inner">
        <div class="spotlights">
            <section><span class="image"><img src="/images/pic05.jpg" alt=""></span>

                <div class="content"><h2>Convallis integer iaculis</h2>

                    <p>Donec elementum odio ut suscipit congue. Fusce magna mattis vel fermentum, ultricies et velit.
                        Suspendisse viverra, ante in eleifend vulputate, lacus lorem pretium ligula, tincidunt posuere
                        sapien neque a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                </div>
            </section>
            <section><span class="image"><img src="/images/pic06.jpg" alt=""></span>

                <div class="content"><h2>Ultrices augue faucibus</h2>

                    <p>Donec elementum odio ut suscipit congue. Fusce magna mattis vel fermentum, ultricies et velit.
                        Suspendisse viverra, ante in eleifend vulputate, lacus lorem pretium ligula, tincidunt posuere
                        sapien neque a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                </div>
            </section>
            <section><span class="image"><img src="/images/pic07.jpg" alt=""></span>

                <div class="content"><h2>Integer sed sodales</h2>
                    <p>Donec elementum odio ut suscipit congue. Fusce magna mattis vel fermentum, ultricies et velit.
                        Suspendisse viverra, ante in eleifend vulputate, lacus lorem pretium ligula, tincidunt posuere
                        sapien neque a augue. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                </div>
            </section>
        </div>
    </div>
</section>
<section id="four" class="wrapper style2 special">
    <div class="inner">
        <header><h2>Sed vitae massa curabitur</h2>
            <p>Ipsum quis semper consequat, sem nibh mattis arcu, quis porttitor lorem justo in tellus. Aenean
                lacinia<br> interdum nisl felis et dui viverra, nec accumsan tempus quam ultricies.</p></header>
        <ul class="actions">
            <li><a class="button special major" style="cursor: pointer;">Get Started</a></li>
        </ul>
    </div>
</section>
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a class="icon fa-twitter" style="cursor: pointer;"><span class="label">Twitter</span></a></li>
            <li><a class="icon fa-facebook" style="cursor: pointer;"><span class="label">Facebook</span></a></li>
            <li><a class="icon fa-instagram" style="cursor: pointer;"><span class="label">Instagram</span></a></li>
            <li><a class="icon fa-github" style="cursor: pointer;"><span class="label">GitHub</span></a></li>
            <li><a class="icon fa-linkedin" style="cursor: pointer;"><span class="label">LinkedIn</span></a></li>
            <li><a class="icon fa-envelope" style="cursor: pointer;"><span class="label">Envelope</span></a></li>
        </ul>
        <ul class="contact">
            <li>12345 Somewhere Road</li>
            <li>Nashville, TN 00000</li>
            <li>(000) 000-0000</li>
        </ul>
        <ul class="links">
            <li><a style="cursor: pointer;">FAQ</a></li>
            <li><a style="cursor: pointer;">Support</a></li>
            <li><a style="cursor: pointer;">Terms</a></li>
            <li><a style="cursor: pointer;">Contact</a></li>
        </ul>
        <p class="copyright">© Untitled. All rights reserved. Lorem ipsum dolor.</p></div>
</footer>
<nav id="menu" class="">
    <ul class="links">
        <li><a href="" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Home</a></li>
        <li><a href="" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Generic</a></li>
        <li><a href="" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Elements</a></li>
    </ul>
    <ul class="actions vertical">
        <li><a href="/reg" class="button special fit" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;">Sign
                Up</a></li>
        <li><a href="/reg" class="button fit" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;">Log In</a>
        </li>
    </ul>
    <a href="javascript:;" class="close" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></a></nav>
<script src="/js/jquery.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/init.js"></script>
</body>
</html>


















